body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: large;
    padding: 20px;
    text-align: center;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    padding: 25px;
    margin: 10px;
    font-weight: 200;
    width: 100%;
}

#projects-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 25px;
    margin: 10px;
    gap: 30px;
    font-weight: 200;
    
}

#contract {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    color: black;
    padding: 25px;
    margin: 10px;
    font-weight: 200;
    width: 100%;
}


@media (min-width: 600px){
    #projects-container {
        gap: 40px;
    }
}



@media (min-width: 960px) {

    #projects,
    #contract {
        width: 80%;
    }

    #projects-container {
        gap: 50px;
    }
}

@media (min-width: 1200px) {

    #projects,
    #contract {
        width: 80%;
    }
}